{% extends "layout.html" %}
{% block content %}
<link href="{{ url_for('static',filename='/css/signin.css') }}" rel="stylesheet">
    <main class="form-signin">
      <form method="post" action=" {{ url_for('reset_password_proceed') }} ">
    <h1 class="h3 mb-3 fw-normal">Zresetuj hasło</h1>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" name='email' placeholder="email" required>
      <label for="floatingInput">Adres email</label>
    </div>
    <br>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Zresetuj</button>
  </form>
</main>
{% endblock content %}