{% extends "layout.html" %}
{% block content %}
<div class="container font-monospace">
    <main>

        <h2> Ogolny regulamin i licencja oprogramownia "Projekt Brokuł"</h2><br>
        <b>Regulamin użytkowania aplikacji</b>
        <ul>
            <li>Oprogramowanie jest projektem szkolnym, nie służy do publikowania prawdziwych ogłoszeń. Użytkowanie portalu wiąże się z ryzykiem niepoprawnego przetwarzania danych wrażliwych.</li>
            <li>Wszelkie informacje przekazane i dostępne w portalu mogą zostać w pełni usunięte na prośbę użytkownika. W celu informajcji lub żądań związanych z przechowywanymi danymi pośimy o kontakt z twórcą <a href="mailto:mateusz.jasnowski.99@gmail.com">mateusz.jasnowski.99@gmail.com</a></li>
            <li>Wszelkie dane znajdujące i przesyłane do portalu są przechowywane i przetwarzane jedynie w celach pokazowych.</li>
        </ul>
        <b>Licencja oprogramowania</b>
        <ul>
            <li>
                Oprogramowanie projektu Brokuł jest własnością Mateusza Jasnowskiego. Kod źródłowy jest poszechnie dostępny i zezwolone jest z niego korzystanie, kopiowanie i modyfikowanie zaznaczająć przy tym źródło i autora kodu orginalnego.
            </li>
            <li>Wykorzystane biblioteki, dodatki i inne programy są programami z otwartm dostępem</li>
        </ul>
    </main>
    </div>
{% endblock content %}