{% extends "layout.html" %}
{% block content %}
<div class="container">
    <main>
      <div class="row g-5">
        <div class="col-md-12 col-lg-12 order-md-last">
            {% if current_user.id == user.id %}
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <small class="text-muted">Login</small>
                        <h6 class="my-0">{{ user.login }}</h6>
                    </div>
                    <div>
                        <a href="/user/{{ user.id }}/edit">
                            <button type="button" class="btn btn-primary">
                                Edytuj
                            </button>
                        </a>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <small class="text-muted">Imię i nazwisko</small>
                        {% if user.firstname %}
                        <h6 class="my-0">{{ user.firstname }} {{ user.lastname }}</h6>
                        {% else %}
                        <h6 class="my-0">
                            ---
                        </h6>
                        {% endif %}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <small class="text-muted">Email</small>
                        <h6 class="my-0">{{ user.email }}</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <small class="text-muted">Hasło</small>
                        <h6 class="my-0">
                            ********
                        </h6>
                    </div>
                </li>
            </ul>
            {% else %}
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <small class="text-muted">Login</small>
                        <h6 class="my-0">{{ user.login }}</h6>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <small class="text-muted">Imię i nazwisko</small>
                        {% if user.firstname %}
                        <h6 class="my-0">{{ user.firstname }} {{ user.lastname }}</h6>
                        {% else %}
                        <h6 class="my-0">
                            ---
                        </h6>
                        {% endif %}
                    </div>
                </li>
            </ul>
            {% endif %}
        </div>
      </div>
      <div class="row g-5">
        <div class="col-md-12 col-lg-12 order-md-last">
            {% if posts %}
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Ogłoszenia użytkownika</span>
            </h4>
          <ul class="list-group mb-3">
            {% for post in posts %}
            {% if post.status == 'Published' %}
            <li class="list-group-item d-flex justify-content-between lh-sm">
            {% else %}
            <li class="list-group-item d-flex justify-content-between bg-light">
            {% endif %}
                <div class="d-flex">
                    <div>
                        <img src="/static/photos/{{ post.photo }}" height="150px">
                    </div>
                    <div class="m-2">
                        {% if current_user.id == user.id %}
                            <span class="badge bg-primary rounded-pill">{{ post.status}}</span>
                        {% endif %}
                            <a href="/post/{{ post.id }}" class="text-decoration-none">
                                <h6 class="my-0">{{ post.manufacture }} {{ post.model }}</h6>
                            </a>
                            <small class="text-muted">{{ post.location }}</small><br>
                            <small class="text-muted">Wystawiono: {{ post.date_posted.replace(microsecond=0) }}</small>
                            <h6 class="my-0 post-price-after text-primary">{{ post.price }}</h6>
                      </div>
                    </div>
                    {% if current_user.id == user.id %}
                    <div>
                        <a href="/post/{{ post.id }}/edit">
                            <button type="button" class="btn btn-primary">
                                Edytuj
                            </button>
                        </a>
                        {% if post.status == 'Published' %}
                        <button type="button" class="btn btn-danger" onclick="window.location.href='/post/{{ post.id }}/delete/action_confirm?back=home'">
                            Zamknij <!-- TODO -->
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-outline-warning">
                            Opublikuj <!-- TODO -->
                        </button>
                        {% endif %}
                    </div>
                    {% endif %}
                </li>
            {% endfor %}
          </ul>
          {% else %}
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Użytkownik nie ma żadnych aktywnych ogłoszeń</span>
        </h4>
          {% endif %}
        </div>
      </div>
    </main>
</div>
{% endblock content %}